<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--读取配置中心的属性-->
    <!--<springProperty scope="context" name="name" source="spring.application.name"/>可行-->

    <!--日志输出位置-->
    <property name="LOG_HOME" value="G:\ssmlog"/>

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="LOG_PATTERN_CONSOLE"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] ${LOG_LEVEL_PATTERN:-%5p} %logger{50}:%L - %msg%n"/>
              <!--value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(${LOG_LEVEL_PATTERN:-%5p}) %logger{50}:%L - %msg%n"/>-->

    <property name="LOG_PATTERN_FILE"
              value="%msg%n"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>
                ${LOG_PATTERN_CONSOLE}
            </pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/myLogInfo.%d{yyyyMMddHHmmss}.%i.log</FileNamePattern>-->
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/info.%i.log</FileNamePattern>
            <!--单个日志大小-->
            <maxFileSize>1000KB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_FILE}</pattern>
        </encoder>
    </appender>

    <appender name="fileLogError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--<FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/myLogError.%d{yyyyMMddHHmmss}.%i.log</FileNamePattern>-->
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/error.%i.log</FileNamePattern>
            <!--单个日志大小-->
            <maxFileSize>1000KB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
        </encoder>
    </appender>

    <!--配置异步日志-->
    <appender name="consoleName" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>
    <appender name="fileLogName" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="fileLog"/>
    </appender>
    <appender name="fileLogErrorName" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="fileLogError"/>
    </appender>

    <!-- 日志在工程中的输出位置 -->
    <!--<property name="LOG_FILE" value="${LOG_HOME}/${name}"/>-->

    <root level="info">
        <appender-ref ref="console"/>
        <!--日志输出文件 -->
        <appender-ref ref="fileLog"/>
        <appender-ref ref="fileLogError"/>
    </root>

    <logger name="java.sql.Connection" level="INFO"/>
    <logger name="java.sql.Statement" level="INFO"/>
    <logger name="java.sql.PreparedStatement" level="INFO"/>
</configuration>
